@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url('../fonts/Roboto-Regular.ttf');
}

/* Declaring global CSS variables */
:root {
  --default-bg-color: #F5F5F5;
  --default-text-color: #212121;
  --old-bg: #212121;
  --old-text: #E1F5FE;
}

/* Semantic elements and their children */
* {
  background-color: var(--default-bg-color);
  margin: 0;
  padding: 0;
}

main {
  font-family: 'Roboto', sans-serif;
  color: var(--default-text-color);
  margin-top: 8%;
}

/* Startpage classes */
.startpage-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

/* Website link classes */
.shortcut-links {
  margin-left: 6%;
  margin-top: 35px;
}
.shortcut-links  ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
}

.shortcut-links ul li {
  list-style: none;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shortcut-links h1 {
  text-decoration: underline;
  font-size: 1em;
}

.shortcut-links p {
  font-size: 0.8em;
  font-family: 'Roboto-Reg', sans-serif;
}

.shortcut-links img {
  height: 64px;
}

/* Startpage unique ids */
#greeting {
  margin: 10px;
}

#quote {
  font-size: 0.8em;
  font-size: 1em;
  margin: 10px 25%;
}

#clock {
  font-size: 1.5em;
  margin-top: 10px;
}

#date {
  font-size: 0.7em;
  font-family: 'Roboto-Reg', sans-serif;
}
